footer.section-footer.wrapper
    a.more.more_style_ss.bt_center.bt_mr_35(href="contact-us.html") Связаться
    //include ../common/_soc_widget
    .section-footer__copirighttext © #{one.Globvars.copyr}