.main-menu
    .main-menu__left
    .main-menu__right
    .main-menu__content
        +nav('main-menu-list', {
            "Мои работы": "works.html",
            "Обо мне": "about.html",
            "Блог": "blog.html",
            "Авторизация": "index.html",
        })
.menu-hamburger
    .menu-hamburger__item
        span