ul.socials
    li.socials__item
        a.socials__link(href="#", target="_blank")
            .iconMoon-blog
    li.socials__item
        a.socials__link(href="#", target="_blank")
            .iconMoon-facebook
    li.socials__item
        a.socials__link(href="#", target="_blank")
            .iconMoon-linkedIn
    li.socials__item
        a.socials__link(href="#", target="_blank")
            .iconMoon-slideShare