block content
    #articles
        .wrapper
            h1 Статті
            .post-list
                .post-wrap
                    .post-thumbnail
                        img(src='assets/img/art1.jpg', alt='iphone')
                    a.post-content(href='/article.html')
                        .post-title
                            p МАЛЮК ПЕРЕВТОМЛЮЄТЬСЯ В ШКОЛІ?
                        .post-more Читати
                        .des_obl
                .post-wrap
                    .post-thumbnail
                        img(src='assets/img/art2.jpg', alt='iphone' width='369' height='290')
                    a.post-content(href='/article.html')
                        .post-title
                            p ЯК АДАПТУВАТИ вашого МАЛЮКА ДО НАВАНТАЖЕНЬ?
                        .post-more Читати
                        .des_obl
                .post-wrap
                    .post-thumbnail
                        img(src='assets/img/art3.jpg', alt='iphone')
                    a.post-content(href='/article.html')
                        .post-title
                            p дитяче карате і здоров’я.
                        .post-more Читати
                        .des_obl
                .post-wrap
                    .post-thumbnail
                        img(src='assets/img/art4.jpg', alt='iphone')
                    a.post-content(href='/article.html')
                        .post-title
                            p МАЛЮК ПЕРЕВТОМЛЮЄТЬСЯ В ШКОЛІ?
                        .post-more Читати
                        .des_obl
                .post-wrap
                    .post-thumbnail
                        img(src='assets/img/art5.jpg', alt='iphone')
                    a.post-content(href='/article.html')
                        .post-title
                            p МАЛЮК ПЕРЕВТОМЛЮЄТЬСЯ В ШКОЛІ?
                        .post-more Читати
                        .des_obl
                .post-wrap
                    .post-thumbnail
                        img(src='assets/img/art6.jpg', alt='iphone')
                    a.post-content(href='/article.html')
                        .post-title
                            p ЯК АДАПТУВАТИ вашого МАЛЮКА ДО НАВАНТАЖЕНЬ?
                        .post-more Читати
                        .des_obl
                .post-wrap
                    .post-thumbnail
                        img(src='assets/img/art7.jpg', alt='iphone')
                    a.post-content(href='/article.html')
                        .post-title
                            p дитяче карате і здоров’я.
                        .post-more Читати
                        .des_obl
                .post-wrap
                    .post-thumbnail
                        img(src='assets/img/art8.jpg', alt='iphone')
                    a.post-content(href='/article.html')
                        .post-title
                            p МАЛЮК ПЕРЕВТОМЛЮЄТЬСЯ В ШКОЛІ?
                        .post-more Читати
                        .des_obl
            .more-post Більше статей
            .pagenavi-post-wrap
                nav.navigation.pagination(role='navigation')
                    h2.screen-reader-text
                    .nav-links
                        a.prev.page-numbers(href='#')
                            i.icon.icon-angle-double-left
                        a.page-numbers(href='#') 1
                        span.page-numbers.current(aria-current='page') 2
                        a.page-numbers(href='#') 3
                        span.page-numbers.dots …
                        a.page-numbers(href='#') 11
                        a.next.page-numbers(href='#')
                            i.icon.icon-angle-double-right
    .for_des_back
        img(src='assets/img/back.png')