block content
    #article
        .wrap
            a.back-link(href='./articles.html') До статей
            .post
                .post-top
                    img.post-img(src='assets/img/art2.jpg')
                    h1 ЯК АДАПТУВАТИ вашого МАЛЮКА ДО НАВАНТАЖЕНЬ?
                p Влітку діти встигають і оздоровитися, і відпочити, щоб пізніше  з новими силами і бажаннями приступити до нового навчального року. Але чи легко школярам знову братися за граніт науки після такого тривалого відпочинку,  і як допомогти їм адаптуватися до шкільного процесу після літніх канікул?
                p Після трьох місяців відпочинку адаптація діткам дається набагато складніше, ніж повернення дорослих людей до роботи після відпустки. Триває період такої адаптації не декілька днів, як думають батьки, а до місяця-півтора. Адже під час літніх канікул порядок дня – харчування, сну, прогулянок, швидше за все, був порушений, тобто відрізнявся своєю невпорядкованістю .
                p Щоб початок навчального року не став  для дитини стресом, допоможіть йому адаптуватися до навчання після канікул дотримуючись  декількох простих порад.
                p Навантаження не повинно бути для дитини занадто стомлюючим. Додаткові заняття – секції, гуртки, курси – це чудово, але таке навантаження може виявитися надмірним для дитини.  Не варто записувати  дитину відразу в кілька гуртків – після канікул організм дитини розслаблений, йому важко звикнути навіть до розписаних по хвилинах шкільних занять. Особливо ця порада відноситься до молодших  школярів. Зверніть увагу на симптоми перевтоми: неспокійний сон, підвищена сонливість, поява або загострення алергічних захворювань, різкі перепади настрою, часті головні болі, відмова від їжі, невластива плаксивість, зниження здібностей, поява страхів різного характеру.
                p Допоможіть дитині правильно розподілити час між навчанням і відпочинком. Після школи дитина обов’язково повинна відпочити, поїсти, і тільки після цього починати робити домашні завдання. Нехай він чергує виконання письмових і усних завдань і обов’язково робить короткі перерви між ними. Це може бути невелика розминка. Школярі молодших класів можуть концентруватися на одному завданні 10 – 15 хвилин. Саме стільки має тривати одне заняття.
                p Краще всього, якщо ви організуєте дитині активний відпочинок – ігри, прогулянки на свіжому повітрі. Але не перестарайтеся – надлишок позитивних емоцій може бути так само шкідливий, як і негативні емоції.
                p Обмежте час, який дитина проводить перед телевізором і за комп’ютером – ці заняття не тільки не сприяють відпочинку, а й стомлюють організм.
                p Привчіть дитину збирати сумку або портфель до школи з вечора. Зате вранці йому буде набагато легше прийти в школу без  зайвих затримок і нервування.
                p Слідкуйте, щоб дитина лягала спати раніше. Чим раніше дитина ляже спати, тим легше перенесе раннє пробудження. Постійне недосипання сприяє підвищеній втомлюваності, поганому настрою і неуважності. Молодші школярі повинні спати не менше 10 годин, а підлітки – не менше 9 годин. Занадто різке пробудження може викликати у дитини роздратування, настрій зіпсується на весь день.
                p Під час сніданку підтримуйте спокійну доброзичливу атмосферу.
                p Навантаження не повинно бути для дитини занадто стомлюючим. Додаткові заняття – секції, гуртки, курси – це чудово, але таке навантаження може виявитися надмірним для дитини.  Не варто записувати  дитину відразу в кілька гуртків – після канікул організм дитини розслаблений, йому важко звикнути навіть до розписаних по хвилинах шкільних занять. Особливо ця порада відноситься до молодших  школярів. Зверніть увагу на симптоми перевтоми: неспокійний сон, підвищена сонливість, поява або загострення алергічних захворювань, різкі перепади настрою, часті головні болі, відмова від їжі, невластива плаксивість, зниження здібностей, поява страхів різного характеру.
            .block_column
                .interes це також може вас зацікавити:
                .block_row.block_interes
                    a.block_int(href='#')
                        .prev_img
                            img(src='assets/img/art5.jpg')
                        p МАЛЮК ПЕРЕВТОМЛЮЄТЬСЯ В ШКОЛІ?
                        p.more_in Читати
                    a.block_int(href='#')
                        .prev_img
                            img(src='assets/img/art6.jpg')
                        p ЯК АДАПТУВАТИ вашого МАЛЮКА ДО НАВАНТАЖЕНЬ?
                        p.more_in Читати
                    a.block_int(href='#')
                        .prev_img
                            img(src='assets/img/art3.jpg')
                        p дитяче карате і здоров’я.
                        p.more_in Читати
                    a.block_int(href='#')
                        .prev_img
                            img(src='assets/img/art8.jpg')
                        p МАЛЮК ПЕРЕВТОМЛЮЄТЬСЯ В ШКОЛІ?
                        p.more_in Читати
            a.back-link.big(href='./articles.html') Більше статей
    .for_des_back
        img(src='assets/img/back.png')