block content
    .wrapper.wrapper_first
        .wrapper_bg.bg_style_v2
        .wrapper_inn
            .block
                .block_head
                    .block_head_text.color_lime.font_bold DOUBLECLICK & ADMIXER
                .block_txt
                    p.pt_20 Admixer является техническим партнером DoubleClick, объединяющим в себе экспертизу по всем маркетинговым каналам, с возможностью обеспечить целостную цифровую стратегию. Более 20 квалифицированных специалистов по работе с DoubleClick помогут вам не только получить доступ к сервису, но и предоставят необходимую консультацию и рекомендации по управлению кампаниями. DoubleClick - это набор из лучших рекламных технологий от Google. Благодаря этим сервисам клиенты могут осуществлять медийный кампании любой сложности, отслеживать их активность, управлять и оптимизировать платный поиск и централизовано контролировать свои programmatic закупки. Используя единый инструмент для решения множества задач без потери качества и данных. Система обновляется в режиме реального времени, обеспечивая таким образом полное представление о производительности и результатах кампаний. Это особенно важно, когда необходимо принимать решения на основе данных в режиме реального времени.
    .wrapper.wrapper_second
        .wrapper_bg.bg_style_white
        .wrapper_inn
            .block.block_relative
                .block_title.title_style_bot.color_grenn
                    .block_line.style_v2
                        svg#svg_line(class="svg_green" xmlns='http://www.w3.org/2000/svg', width='188px', height='7px', viewbox='0 0 187.75 6.75')
                            line.svg_line_1(y1='6.25', x2='187.75', y2='6.25')
                            line.svg_line_2(x1='91', y1='3', x2='187.75', y2='3')
                    span наш подход

                .block_txt.block_txt.width_hf.color_dark
                    .block_icon.width_38.slice_img
                        .img_sl_all#dbcanim(data-anim='img_sl1')
                            .img_sl_all__bg
                            .img_sl_all__bg2
                            .img_sl_all__item
                        .img_sl_all2#dbcanim(data-anim='img_sl2')
                            .img_sl_all2__bg
                            .img_sl_all2__bg2
                            .img_sl_all2__item
                    .block_txt.width_62
                        p.pt_20.fd_n1#dbcanim(data-anim='tx_anim_n1') Мы используем поэтапную оценку ваших потребностей, для того чтобы максимально эффективно решить ваши задачи. Admixer работает вместе с вами, чтобы найти решение, соответствующее вашим бизнес-требованиям и целям.
                        ul.pt_20.style_slice
                            li.fd_n2#dbcanim(data-anim='tx_anim_n2')
                                p.slice_hd 01
                                    span Оценка
                                p Оценка и анализ ваших потребностей в продуктах DoubleClick. Таким образом мы оцениваем, какие продукты смогут помочь вам решить ваши задачи и как правильно использовать преимущества DoubleClick именно для вас.
                            li.fd_n2#dbcanim(data-anim='tx_anim_n2')
                                p.slice_hd 02
                                    span Настройка и интеграция
                                p После определения оптимального набора инструментов мы будем рады перейти к их настройке и интеграции. Мы с радостью проведем для вас ознакомительную сессию для полного понимания продуктов и их возможностей.
                            li.fd_n2#dbcanim(data-anim='tx_anim_n2')
                                p.slice_hd 03
                                    span ПОДДЕРЖКА
                                p Независимо от того, какой вариант взаимодействия с нами вы предпочтете, самообслуживание или управление кампаниями, вы всегда сможете уточнить необходимые вопросы, а также помощь квалифицированного специалиста. Поддержка может включать в себя также и помощь с реализацией кампаний, отчетность, оптимизацию и многое другое.
                            li.fd_n2#dbcanim(data-anim='tx_anim_n2')
                                p.slice_hd 04
                                    span Опыт лидеров рынка
                                p Мы готовы поделиться с вами многочисленным опытом реализации поставленных задач с использованием сервисов DoubleClick. Мы также будем готовы начать работу с командами любого уровня, проводя обучение и повышая уровень знаний ваших сотрудников, если в это необходимо.
                            li.fd_n2#dbcanim(data-anim='tx_anim_n2')
                                p.slice_hd 05
                                    span Актуальная информация
                                p Наша команда специалистов DoubleClick будет регулярно предоставлять вам свежие новинки, чтобы вы могли максимально эффективно использовали платформы, используя важные функции и последние обновления.
    .wrapper.wrapper_third
        .wrapper_bg.bg_style_darck
        .wrapper_inn
            .block
                .block_title.title_style_bot.title_style_right.color_lime
                    .block_line.style_v2
                        svg#svg_line(class="svg_lime" xmlns='http://www.w3.org/2000/svg', width='188px', height='7px', viewbox='0 0 187.75 6.75')
                            line.svg_line_1(y1='6.25', x2='187.75', y2='6.25')
                            line.svg_line_2(x1='91', y1='3', x2='187.75', y2='3')
                    span удобный формат сотрудничества
                .block_txt.color_white.fd_c1
                    p.pt_24 Мы готовы предоставить вам удобную модель взаимодействия с сервисами. таким образом вы сами выбираете, насколько хотите вовлекаться в процесс управления кампаниями.
                    p.pt_24.pt_bd самообслуживание
                    p.pt_20 Если вы хотите управлять doubleclick самостоятельно, мы готовы предоставить вам кабинеты для ведения кампаний. мы также готовы обучить вас основным принципам заведения кампаний или дать ответы на возникающие вопросы, если это необходимо.
                    p.pt_24.pt_bd полный комплекс услуг
                    p.pt_20 Если вы хотите, чтобы наши эксперты doubleclick управляли вашими кампаниями, модель полного обслуживания подходит именно вам. благодаря полному управлению кампаниями, поддержке и советам, мы поможем реализовать ваши маркетинговые задачи с использованием сервисов doubleclick.
                    p.pt_24.pt_bd смешанная система
                    p.pt_20 Если вы хотите управлять кампаниями doubleclick самостоятельно, но хотите получать регулярную поддержку и помощь в оптимизации, вы можете заказать у нас такую услугу и и получить экспертную поддержку и консультацию в необходимом объеме.
    .wrapper.wrapper_fourth
        .wrapper_bg.bg_style_white
        .wrapper_inn
            .block.color_dark.block_relative
                .block_title.title_style_bot.color_grenn
                    .block_line.style_v2
                        svg#svg_line(class="svg_green" xmlns='http://www.w3.org/2000/svg', width='188px', height='7px', viewbox='0 0 187.75 6.75')
                            line.svg_line_1(y1='6.25', x2='187.75', y2='6.25')
                            line.svg_line_2(x1='91', y1='3', x2='187.75', y2='3')
                    span Наши клиенты
                .adm_cli_txt.pt_24 Мы гордимся тем, что смогли помочь реализовать свои задачи для самых крупных и взыскательных клиентов.
                .block_cli
                    .adm_cli
                        .adm_cli__item
                            img(src="assets/img/cli_samsung.jpg" class="section-adm_cli__item")
                        .adm_cli__item
                            img(src="assets/img/cli_kievstar.jpg" class="section-adm_cli__item")

    .wrapper.wrapper_sixth.for_srt
        img(src="/assets/img/dbc_sert.jpg" class="section-block_dbc_sert")
include ../common/_footer