block content
    .wrapper.wrapper_first
        .wrapper_bg.bg_style_v3
        .wrapper_inn
            .block
                .block_head
                    .block_head_text.color_lime.font_bold Почему DOUBLECLICK?
                .block_txt
                    p.pt_20 DoubleClick - это совершенная система рекламных технологии от Google. На данный момент она является ведущим инструментом для показа медийной рекламы, отслеживания активности кампаний, управления платным поиском и запуска programmatic решений. Все элементы сочетаются друг с другом, предоставляя вам возможность использовать унифицированный подход к поведению пользователей, результативности каналов и устройств.
    .wrapper.wrapper_second
        .wrapper_bg.bg_style_white
        .wrapper_inn
            .block.block_why.color_dark
                .block_why__item
                    .why_icon.why_icon_v1
                    .why_title.pt_24 АТТРИБУЦИЯ
                    .why_txt Атрибуция в DoubleClick позволяет использовать различные модели (в том числе настраиваемые), чтобы идеально соответствовать задачам вашего бизнеса. Это позволит вам отслеживать все необходимые конверсии с каждого из ваших каналов, даже когда люди используют разные устройства.
                .block_why__item
                    .why_icon.why_icon_v2
                    .why_title.pt_24 ЕДИНАЯ СИСТЕМА
                    .why_txt Вся технология DoubleClick построены таким образом, чтобы получить унифцированный подход ко всем вашим данным. Это позволяет максимально корректно рассчитать и оценить влияние каждого из каналов на ваши кампании.
                .block_why__item
                    .why_icon.why_icon_v2_3
                    .why_title.pt_24 Google Analytics 360 (GA 360)
                    .why_txt Это продукт, который позволит вам получить максимальный результат вашей аналитики, наравне с его интеграцией в передовые технологии DoubleClick. Именно эта интеграция предоставит вам возможность выжать максимум из всех ваших кампаний.
                .block_why__item
                    .why_icon.why_icon_v3
                    .why_title.pt_24 БЕЗОПАСНОСТЬ
                    .why_txt Встроенные средства проверки DoubleClick являются одними из лучших на рынке, защищая вас от мошенничества и помогая вам показывать вашу рекламу без дополнительных затрат.
                .block_why__item
                    .why_icon.why_icon_v4
                    .why_title.pt_24 АВТОМАТИЗАЦИЯ
                    .why_txt Все инструменты системы DoubleClick имеют продвинутые алгоритмы автоматизации, которые позволят вам получить максимум отдачи от ваших вложений в рекламу.
    .wrapper.wrapper__third
        .wrapper_bg.bg_style_white
        .wrapper_inn
            .block.block_prod.color_dark
                .block_prod_item
                    .prod_item_img
                        img(src="assets/img/prod_v1.jpg" class="section-block_prod_item_img")
                    .prod_item_cont
                        .prod_item_title.color_grenn DoubleClick Campaign Manager
                        .prod_item_txt.pt_16 DoubleClick Campaign Manager (DCM) - это высокотехнологичная система управления интернет рекламой. Его можно использовать, как инструмент для размещения ваших объявлений в одном месте, чтобы они показывались пользователям на разных платформах и в сетях. Используя один инструмент вы можете легко создавать, изменять, тестировать и оптимизировать свое объявление для правильного показа нужным пользователям в нужное время.
                        a.more.more_style_green.bt_mrt_30.hide_temp(href="#", target="_blank") Дізнайтеся більше
                .block_prod_item
                    .prod_item_img
                        img(src="assets/img/prod_v2.jpg" class="section-block_prod_item_img")
                    .prod_item_cont
                        .prod_item_title.color_grenn DOUBLECLICK SEARCH
                        .prod_item_txt.pt_16 DoubleClick Search (DS) - это платформа управления поисковыми кампаниями, которая помогает запускать PPC кампании в AdWords, Bing, Yahoo и других поисковых системах. Синхронизируя изменения между поисковыми системами или разными акаунтами, но сохраняя индивидуальную оптимизацию, DoubleClick Search экономит ваше время и позволяет сосредоточить свое внимание там, где это действительно важно: улучшая и оптимизирую стратегию или создавая более привлекательные объявления.
                        a.more.more_style_green.bt_mrt_30.hide_temp(href="#", target="_blank") Дізнайтеся більше
                .block_prod_item
                    .prod_item_img
                        img(src="assets/img/prod_v3.jpg" class="section-block_prod_item_img")
                    .prod_item_cont
                        .prod_item_title.color_grenn DOUBLECLICK BID MANAGER
                        .prod_item_txt.pt_16 DoubleClick Bid Manager (DBM) - это инструмент для запуска медийных кампаний с использованием programmatic экосистемы. С помощью этого инструмента вы сможете вывести ваши размещения на новый уровень при помощи разных систем закупки (RTB или прямые сделки), продвинутых систем оптимизации и таргетингов.
                        a.more.more_style_green.bt_mrt_30.hide_temp(href="#", target="_blank") Дізнайтеся більше
                .block_prod_item
                    .prod_item_img
                        img(src="assets/img/prod_v4.jpg" class="section-block_prod_item_img")
                    .prod_item_cont
                        .prod_item_title.color_grenn Google Analytics 360
                        .prod_item_txt.pt_16 Работа с продвинутыми системами аналитики, возможности работы с Google Analytics 360, недоступных в стандартной версии сервиса, а также преимуществами их интеграции с BigQuery и DoubleClick.
                        a.more.more_style_green.bt_mrt_30.hide_temp(href="#", target="_blank") Дізнайтеся більше

include ../common/_footer