block content
    #fullpage
        #section0.section
            .section_inn
                .block_row
                    .block_column.vert_center
                        .obl Малюк неспокійний і вередує?
                        img.maluk(src='assets/img/maluk.png', alt='iphone')
                        .doptext ДІЗНАЙСЯ, ЧОМУ ЙОГО ВСЕ ТАК ДРАТУЄ
                    .block_column
                        .for_logo
                            img(src='assets/img/biglogo.png', alt='iphone')
                        h1 ПРИРОДНИЙ СПОКІЙ МАЛЮКА
                        .for_pack
                            img(src='assets/img/pack.png', alt='iphone')
        #section1.section
            .section_inn
                .block_column
                    h2 ЩО ВПЛИВАЄ НА МАЛЮКА?
                    .block_row
                        .block
                            img.icon(src='assets/img/icon1.png', alt='iphone')
                            p Емоційні навантаження
                            ul
                                li Зміна звичного оточення, похід в дитсадок, переїзд в інший будинок
                                li Напружені відносини в сім'ї, сварки між батьками
                                li Жорстке виховання
                                li Глузування серед однолітків, суворий вихователь, вчитель
                        .block
                            img.icon(src='assets/img/icon2.png', alt='iphone')
                            p Розумові навантаження
                            ul
                                li Забагато нової інформації в дитсадку чи школі
                                li Факультативи, додаткові заняття з репетиторами
                                li Недотримання чергування розумової та фізичної діяльності
                                li Примусове навчання
                        .block
                            img.icon(src='assets/img/icon3.png', alt='iphone')
                            p Фізичні навантаження
                            ul
                                li  Інтенсивні заняття фізкультурою
                                li  Недотримання режиму денного сну
                                li  Постійні активні ігри з товаришами
                                li  Відвідування спортивних секцій
                    .doptext Це може призвести до:
        #section2.section
            .section_inn
                .block_column
                    h2 ВИСНАЖЕННЯ НЕРВОВОЇ СИСТЕМИ
                    .block_row
                        .block_column.list
                            p СИМПТОМИ:
                            ul
                                li Перепади настрою
                                li Тривожність
                                li Вередливість
                                li Надмірна активність
                                li Нервові тики
                                li Порушення сну, безсоння та нічні страхи
                                li Головні болі
                                li Відчуття серцебиття та "поколювання" в ділянці серця
                        img.bigboy(src='assets/img/bigboy.png', alt='iphone')
                    .doptext Як подолати виснаження:
        #section3.section
            .section_inn
                .block_column
                    .block_row
                        img(src='assets/img/pack.png', alt='iphone')
                        .block_column
                            .for_logo
                                img(src='assets/img/biglogo.png', alt='iphone')
                            h2 ПРИРОДНИЙ СПОКІЙ МАЛЮКА
                            p
                                strong СІЛЕНТА
                                |  – сироп для перорального вживання, який сприяє легкій адаптації дітей до емоційних, розумових та фізичних навантажень.
                                | Завдяки натуральним складовим забезпечує надходження до організму дитини таких важливих речовин як серотонін та магній.
                                | Адже саме вони у великій кількості витрачаються при емоційних, розумових та фізичних навантаженнях. А їх комбінація з ромашкою, мелісою та липою забезпечує м’яку заспокійливу дію.
                    .doptext Як подолати виснаження:
        #section4.section
            .section_inn
                .block_column
                    h2 ЛИШЕ НАТУРАЛЬНІ СКЛАДОВІ
                    .block_row
                        .block_column
                            .block_row
                                .bl_col
                                    img(src='assets/img/ml1.png', alt='iphone')
                                .bl_col
                                    h3 L-ТРИПТОФАН
                                    p Це амінокислота, яка не синтезується в організмі людини. Потреба в ній досить велика, особливо в період росту дитини.
                                    strong ЯК ДІЄ:
                                    p З L-триптофану синтезується серотонін, який в нічний час здатний перетворюватися на мелатонін – гормон, що регулює сон. L-триптофан виявляє антидепресивну дію, сприяє зняттю тривожного стану, гіперактивності, сприяє засинанню та нормальному сну.
                            .block_row
                                .bl_col
                                    img(src='assets/img/ml2.png', alt='iphone')
                                .bl_col
                                    h3 МАГНІЙ
                                    p Це природний стабілізатор нервової системи та один з основних мінеральних елементів організму людини.
                                    strong ЯК ДІЄ:
                                    p Магній чинить заспокійливу дію та забезпечує нормальне скорочення м’язів. Він частково регулює обмін речовин нервової, дихальної, серцево-судинної та кровотворної систем. Захищає м’язи серця від кисневої недостатності та зниження кровопостачання.
                        .block_column
                            img(src='assets/img/pack.png', alt='iphone')
                        .block_column
                            .block_row
                                .bl_col
                                    img(src='assets/img/ml3.png', alt='iphone')
                                    h3 РОМАШКА, МЕЛІСА, ЛИПА
                                    p Натуральні екстракти квіток ромашки, листя меліси та суцвіть липи містять багатий комплекс біологічно активних речовин, вітамін С та каротин.
                                    strong ЯК ДІЄ:
                                    p Їх комбінація чинить болезаспокійливий та седативний ефект при надмірному нервовому збудженні, безсонні, вегето-судинній дистонії, порушеннях у роботі серця. А також нормалізує тиск при його зміні внаслідок емоційного збудження.
        #section5.section
            .section_inn
                .block_column
                    h2 ЯК ЗАСТОСОВУВАТИ
                    .block_row
                        .block_column
                            .for_boy
                                img(src='assets/img/boy1.png', alt='iphone')
                            h3 Діти віком від 3 до 6 років:
                            .block_row
                                img(src='assets/img/5ml.png', alt='iphone')
                                span 5 мл
                            p 2-3 рази на добу
                        .block_column
                            .for_boy
                                img(src='assets/img/boy2.png', alt='iphone')
                            h3 Діти віком від 6 до 12 років:
                            .block_row
                                img(src='assets/img/5ml.png', alt='iphone')
                                span 10 мл
                            p 2 рази на добу
                        .block_column
                            .for_boy
                                img(src='assets/img/boy3.png', alt='iphone')
                            h3 Діти віком від 12 років і дорослі:
                            .block_row
                                img(src='assets/img/5ml.png', alt='iphone')
                                span 15 мл
                            p 2 рази на добу
                    a.buuton_byu(href="#") Де купити





//include ../common/_footer