block content
    #fullpage
        #section0.section
            .section_inn
                .block_row
                    .block_column.vert_center
                        .obl
                            p Малюк неспокійний і вередує?
                            img.oblinn(src='assets/img/oblako.png', alt='iphone')
                        img.maluk(src='assets/img/maluk.png', alt='iphone')
                        .doptext ДІЗНАЙСЯ, ЧОМУ ЙОГО ВСЕ ТАК ДРАТУЄ
                    .block_column.spok
                        .for_logo
                            img(src='assets/img/biglogo.png', alt='iphone')
                        h1 ПРИРОДНИЙ СПОКІЙ МАЛЮКА
                        .for_pack
                            img(src='assets/img/pack.png', alt='iphone')
        #section1.section
            .section_inn
                .block_column.vpliv
                    h2 ЩО ВПЛИВАЄ НА МАЛЮКА?
                    .swiper-container
                        .block_row.swiper-wrapper
                            .block.swiper-slide
                                img.icon(src='assets/img/icon1.png', alt='iphone')
                                p.pred Емоційні навантаження
                                ul.emo
                                    li Зміна звичного оточення, похід в дитсадок, переїзд в інший будинок
                                    li Напружені відносини в сім'ї, сварки між батьками
                                    li Жорстке виховання
                                    li Глузування серед однолітків, суворий вихователь, вчитель
                            .block.swiper-slide
                                img.icon(src='assets/img/icon2.png', alt='iphone')
                                p.pred Розумові навантаження
                                ul.roz
                                    li Забагато нової інформації в дитсадку чи школі
                                    li Факультативи, додаткові заняття з репетиторами
                                    li Недотримання чергування розумової та фізичної діяльності
                                    li Примусове навчання
                            .block.swiper-slide
                                img.icon(src='assets/img/icon3.png', alt='iphone')
                                p.pred Фізичні навантаження
                                ul.fiz
                                    li  Інтенсивні заняття фізкультурою
                                    li  Недотримання режиму денного сну
                                    li  Постійні активні ігри з товаришами
                                    li  Відвідування спортивних секцій
                        .swiper-button-next
                        .swiper-button-prev
                    .doptext Це може призвести до:
        #section2.section
            .section_inn
                .block_column
                    h2 ВИСНАЖЕННЯ НЕРВОВОЇ СИСТЕМИ
                    .block_row
                        .block_column.list
                            p.pred СИМПТОМИ:
                            ul.simptom
                                li Перепади настрою
                                li Тривожність
                                li Вередливість
                                li Надмірна активність
                                li Нервові тики
                                li Порушення сну, безсоння та нічні страхи
                                li Головні болі
                                li Відчуття серцебиття та "поколювання" в ділянці серця
                        img.bigboy(src='assets/img/bigboy.png', alt='iphone')
                    .doptext Як подолати виснаження
        #section3.section
            .section_inn
                .block_column
                    .block_row
                        img.pack_4(src='assets/img/pack.png', alt='iphone')
                        .block_column.right_selent
                            .for_logo
                                img(src='assets/img/bigestlogo.png', alt='iphone')
                            p.h2 ПРИРОДНИЙ СПОКІЙ МАЛЮКА
                            p
                                strong СІЛЕНТА
                                |  – сироп для перорального вживання, який сприяє легкій адаптації дітей до емоційних, розумових та фізичних навантажень.
                            p Завдяки натуральним складовим забезпечує надходження до організму дитини таких важливих речовин як серотонін та магній.
                            p Адже саме вони у великій кількості витрачаються при емоційних, розумових та фізичних навантаженнях. А їх комбінація з ромашкою, мелісою та липою забезпечує м’яку заспокійливу дію.
                    .doptext Чому Сілента?
        #section4.section
            .section_inn
                .block_column.skladovi
                    h2 ЛИШЕ НАТУРАЛЬНІ СКЛАДОВІ
                    .block_row
                        .swiper-container2
                            .block_column.dbl_row.swiper-wrapper
                                .block_row.swiper-slide
                                    .bl_col
                                        img.ml1(src='assets/img/ml1.png', alt='iphone')
                                    .bl_col.bl_text
                                        h3 L-ТРИПТОФАН
                                        p Це амінокислота, яка не синтезується в організмі людини. Потреба в ній досить велика, особливо в період росту дитини.
                                        strong ЯК ДІЄ:
                                        p З L-триптофану синтезується серотонін, який в нічний час здатний перетворюватися на мелатонін – гормон, що регулює сон. L-триптофан виявляє антидепресивну дію, сприяє зняттю тривожного стану, гіперактивності, сприяє засинанню та нормальному сну.
                                .block_row.swiper-slide
                                    .bl_col
                                        img.ml2(src='assets/img/ml2.png', alt='iphone')
                                    .bl_col.bl_text
                                        h3 МАГНІЙ
                                        p Це природний стабілізатор нервової системи та один з основних мінеральних елементів організму людини.
                                        strong ЯК ДІЄ:
                                        p Магній чинить заспокійливу дію та забезпечує нормальне скорочення м’язів. Він частково регулює обмін речовин нервової, дихальної, серцево-судинної та кровотворної систем. Захищає м’язи серця від кисневої недостатності та зниження кровопостачання.
                                .block_row.swiper-slide
                                    .bl_col
                                        img.romashka(src='assets/img/ml3.png', alt='iphone')
                                    .bl_col.bl_text
                                        h3 РОМАШКА, МЕЛІСА, ЛИПА
                                        p Натуральні екстракти квіток ромашки, листя меліси та суцвіть липи містять багатий комплекс біологічно активних речовин, вітамін С та каротин.
                                        strong ЯК ДІЄ:
                                        p Їх комбінація чинить болезаспокійливий та седативний ефект при надмірному нервовому збудженні, безсонні, вегето-судинній дистонії, порушеннях у роботі серця. А також нормалізує тиск при його зміні внаслідок емоційного збудження.

                            .swiper-button-next
                            .swiper-button-prev
                            .block_column.for_big_pack
                                img.bigpack(src='assets/img/pack.png', alt='iphone')
                            .block_column.m-hide
                                .block_row
                                    .bl_col.bl_text
                                        img.romashka(src='assets/img/ml3.png', alt='iphone')
                                        h3 РОМАШКА, МЕЛІСА, ЛИПА
                                        p Натуральні екстракти квіток ромашки, листя меліси та суцвіть липи містять багатий комплекс біологічно активних речовин, вітамін С та каротин.
                                        strong ЯК ДІЄ:
                                        p Їх комбінація чинить болезаспокійливий та седативний ефект при надмірному нервовому збудженні, безсонні, вегето-судинній дистонії, порушеннях у роботі серця. А також нормалізує тиск при його зміні внаслідок емоційного збудження.

        #section5.section
            .section_inn
                .block_column.how
                    h2 ЯК ЗАСТОСОВУВАТИ
                    .swiper-container3
                        .block_row.swiper-wrapper
                            .block_column.swiper-slide
                                .for_boy
                                    img.boys(src='assets/img/boy1.png', alt='iphone')
                                p.pred
                                        | Діти віком
                                        br
                                        | від 3 до 6 років:
                                .block_row
                                    img.glass(src='assets/img/5ml.png', alt='iphone')
                                    span 5 мл
                                p.freq 2-3 рази на добу
                            .block_column.center_boy.swiper-slide
                                .for_boy
                                    img.boys(src='assets/img/boy2.png', alt='iphone')
                                p.pred
                                        | Діти віком
                                        br
                                        | від 6 до 12 років:
                                .block_row
                                    img.glass(src='assets/img/10ml.png', alt='iphone')
                                    span 10 мл
                                p.freq 2 рази на добу
                            .block_column.swiper-slide
                                .for_boy
                                    img.boys(src='assets/img/boy3.png', alt='iphone')
                                p.pred
                                        | Діти віком
                                        br
                                        | від 12 років і дорослі:
                                .block_row
                                    img.glass(src='assets/img/15ml.png', alt='iphone')
                                    span 15 мл
                                p.freq 2 рази на добу
                        .swiper-button-next
                        .swiper-button-prev
                    a.buuton_byu(href="#") Де купити
    .for_des_back
        img(src='assets/img/back.png')



//include ../common/_footer