block content
    .wrapper.thanks
        .contact-form__widget_inn
            .success
                span Благодарим за вашу заявку!
                p Наш менеджер свяжется с Вами в ближайшее время.

    include ../common/_footer