@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot') format('embedded-opentype'),
  url('../fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="iconMoon-"], [class*=" iconMoon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconMoon-ui_template:before {
  content: "\e94e";
}

.iconMoon-zip_archive:before {
  content: "\e94f";
}
.iconMoon-lamp:before {
  content: "\e94d";
}
.iconMoon-globe:before {
  content: "\e94c";
}
.iconMoon-copy:before {
  content: "\e94a";
}
.iconMoon-Cross:before {
  content: "\e94b";
}
.iconMoon-factory:before {
  content: "\e949";
}
.iconMoon-Information:before {
  content: "\e900";
}
.iconMoon-LiveDemo:before {
  content: "\e901";
}
.iconMoon-Preview:before {
  content: "\e902";
}
.iconMoon-Wiki:before {
  content: "\e903";
}
.iconMoon-banner:before {
  content: "\e908";
}
.iconMoon-desktop:before {
  content: "\e90f";
}
.iconMoon-mobile:before {
  content: "\e923";
}
.iconMoon-rich:before {
  content: "\e935";
}
.iconMoon-smartfon:before {
  content: "\e93f";
}
.iconMoon-tablet:before {
  content: "\e945";
}
.iconMoon-video:before {
  content: "\e948";
}
.iconMoon-alarm:before {
  content: "\e904";
}
.iconMoon-allformats:before {
  content: "\e905";
}
.iconMoon-arrowRight:before {
  content: "\e906";
}
.iconMoon-attach:before {
  content: "\e907";
}
.iconMoon-blog:before {
  content: "\e909";
}
.iconMoon-browser:before {
  content: "\e90a";
}
.iconMoon-calendar:before {
  content: "\e90b";
}
.iconMoon-calendar2:before {
  content: "\e90c";
}
.iconMoon-clock:before {
  content: "\e90d";
}
.iconMoon-default:before {
  content: "\e90e";
}
.iconMoon-eye:before {
  content: "\e910";
}
.iconMoon-facebook:before {
  content: "\e911";
}
.iconMoon-form_banner:before {
  content: "\e912";
}
.iconMoon-form_mobile:before {
  content: "\e913";
}
.iconMoon-form_teaser:before {
  content: "\e914";
}
.iconMoon-form_video:before {
  content: "\e915";
}
.iconMoon-game:before {
  content: "\e916";
}
.iconMoon-geo:before {
  content: "\e917";
}
.iconMoon-impressions:before {
  content: "\e918";
}
.iconMoon-info:before {
  content: "\e919";
}
.iconMoon-inventory:before {
  content: "\e91a";
}
.iconMoon-left:before {
  content: "\e91b";
}
.iconMoon-linkedIn:before {
  content: "\e91c";
}
.iconMoon-login:before {
  content: "\e91d";
}
.iconMoon-mail:before {
  content: "\e91e";
}
.iconMoon-market_MoreClients:before {
  content: "\e91f";
}
.iconMoon-market_targeting:before {
  content: "\e920";
}
.iconMoon-market_UploadPriceList:before {
  content: "\e921";
}
.iconMoon-mediyka:before {
  content: "\e922";
}
.iconMoon-mute:before {
  content: "\e924";
}
.iconMoon-network:before {
  content: "\e925";
}
.iconMoon-nonstandart:before {
  content: "\e926";
}
.iconMoon-os:before {
  content: "\e927";
}
.iconMoon-pack:before {
  content: "\e928";
}
.iconMoon-paketpryamo:before {
  content: "\e929";
}
.iconMoon-paused:before {
  content: "\e92a";
}
.iconMoon-pdf:before {
  content: "\e92b";
}
.iconMoon-povedenka:before {
  content: "\e92c";
}
.iconMoon-print:before {
  content: "\e92d";
}
.iconMoon-priority:before {
  content: "\e92e";
}
.iconMoon-reportexpand:before {
  content: "\e92f";
}
.iconMoon-reportinteraction:before {
  content: "\e930";
}
.iconMoon-reportperfomance:before {
  content: "\e931";
}
.iconMoon-reportvast:before {
  content: "\e932";
}
.iconMoon-resume:before {
  content: "\e933";
}
.iconMoon-retargetingGroups:before {
  content: "\e934";
}
.iconMoon-right:before {
  content: "\e936";
}
.iconMoon-search:before {
  content: "\e937";
}
.iconMoon-send:before {
  content: "\e938";
}
.iconMoon-send2:before {
  content: "\e939";
}
.iconMoon-skiped:before {
  content: "\e93a";
}
.iconMoon-skype:before {
  content: "\e93b";
}
.iconMoon-slideShare:before {
  content: "\e93c";
}
.iconMoon-socialNetwork:before {
  content: "\e93d";
}
.iconMoon-submit:before {
  content: "\e93e";
}
.iconMoon-teaser:before {
  content: "\e940";
}
.iconMoon-times:before {
  content: "\e941";
}
.iconMoon-twitter:before {
  content: "\e942";
}
.iconMoon-unmute:before {
  content: "\e943";
}
.iconMoon-user2:before, .iconMoon-user:before {
  content: "\e944";
}
.iconMoon-vk:before {
  content: "\e946";
}
.iconMoon-warning:before {
  content: "\e947";
}
