.section {
  text-align: center;
  overflow: hidden;
}

.section_inn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.block_column {
  display: flex;
  flex-direction: column;
  position: relative;
}

.block_row {
  display: flex;
  flex-direction: row;
}

.vert_center {
  justify-content: center;
  align-items: center;
}

#section0 {
  padding: 60px 0;
  & .block_row {
    justify-content: space-around;
    height: 95%;
  }
}

#section1 {
  padding: 60px 0;
  & ul {
    color: #5a5a5a;
    list-style-type: none;
    text-align: left;
  }
}

#section2 {
  padding: 60px 0;
  & .list {
    justify-content: center;
  }
  & .block_column {
    justify-content: space-around;
    height: 95%;
    &.list{
      height: auto;
    }
  }
  & .block_row {
  }
}

#section3 {
  padding: 60px 0;
  & .block_column {
    justify-content: center;
    height: 95%;
    align-items: center;
  }
  & .block_row {
    align-items: flex-end;
    padding-bottom: 5%;
  }
}

#section4 {
  padding: 60px 0;
  & strong {
    color: #000000;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
  }
  & .swiper-container2{
    & .block_row{
      flex-direction: row;
      height: auto;
      width: auto;
    }
  }
}


.centr_block_row {
  flex-direction: row;
  display: flex;
}

.doptext {
  font-family: 'RotondaC-Bold';
  font-size: 22px;
  color: #1b5db2;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px #ffffff;
}

.pred {
  font-family: 'RotondaC-Bold';
  font-size: 22px;
  color: #0051ad;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px #ffffff;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 18px;
}

.block_column {
  &.list {
    width: 300px;
  }
}

h1 {
  font-family: 'RotondaC-Bold';
  font-size: 42px;
  text-shadow: 0px 2px 2px rgba(0, 88, 153, 1);
}

h2 {
  font-family: 'RotondaC-Bold';
  font-size: 42px;
  text-shadow: 0px 2px 2px rgba(0, 88, 153, 1);
}

.h2 {
  font-family: 'RotondaC-Bold';
  color: #0051ad;
  font-size: 42px;
  text-shadow: 0px 2px 2px #ffffff;
  margin: 40px 0;
}

h3 {
  font-family: 'RotondaC-Bold';
  font-size: 22px;
  color: #0051ad;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px #ffffff;
}

p {
  color: #5a5a5a;
  & strong {
    color: #000000;
  }
}

.how {
  justify-content: space-around;
  height: 80%;
  align-items: center;
  & span {
    font-size: 28px;
    color: #92b2e0;
  }
  & .block_row {
    align-items: flex-end;
    justify-content: center;
  }
  & .pred {
    padding: 0;
    text-align: center;
    margin: 35px 0;
  }
  & .block_column {
    //padding: 0 5%;
    width: 270px;
    &.center_boy{
      padding: 0 5%;
    }
  }
}

.freq {
  font-size: 22px;
  color: #5a5a5a;
  margin: 30px 0;
}

.buuton_byu {
  font-size: 22px;
  color: #0051ad;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 20px;
  border: 1px solid #30aadf;
  width: 18%;
  max-width: 210px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  &:hover{
    background: #0051ad;
    color: #ffffff;
  }
}

.spok {
  justify-content: center;
  align-items: center;
  & h1 {
    display: inline-block;
    width: 70%;
  }
}

.for_logo {
  width: 50%;
  max-width: 242px;
  & img {
    width: 100%;
    height: auto;
  }
}

.maluk {
  max-height: 390px;
  height: 40vh;
  width: auto;
  padding: 3% 0;
}

.bigboy {
  max-height: 400px;
  height: 60vh;
  width: auto;
}

.bigpack {
  height: 60vh;
  max-height: 420px;
  width: auto;
}

.for_pack {
  & img {
    max-height: 400px;
    height: 50vh;
    width: auto;
  }
}

.obl {
  position: relative;
  width: 300px;
  & p {
    font-family: 'RotondaC-Bold';
    font-size: 22px;
    color: #0051ad;
    font-weight: bold;
    text-shadow: 0px 2px 2px #ffffff;
    width: 70%;
    text-align: center;
    display: inline-block;
    position: absolute;
    @include centered();
  }

}

.skladovi {
  justify-content: center;
  height: 95%;

}

.center_boy {
  &:before {
    content: '';
    width: 25px;
    height: 100%;
    position: absolute;
    background-image: url("/assets/img/line-left.png");
    background-repeat: no-repeat;
    left: 0px;
    background-position: center right;
  }
  &:after {
    content: '';
    width: 25px;
    height: 100%;
    position: absolute;
    background-image: url("/assets/img/line-right.png");
    background-repeat: no-repeat;
    right: 0px;
    background-position: center right;
  }
}

.oblinn {
  width: 100%;
  height: auto;
}

.bl_col {
  text-align: left;
  margin-left: 20px;
}

.simptom {
  color: #5a5a5a;
  font-size: 18px;
  text-align: left;
  list-style-type: none;
  & li {
    display: flex;
    margin: 20px 0;
    &:before {
      content: '•';
      display: flex;
      color: #4f85f5;
      margin-right: 8px;
    }
  }
}

.right_selent {
  width: 520px;
  & p {
    text-align: left;
    margin-bottom: 25px;
    line-height: 24px;
    display: inline-table;
  }
  & .h2 {
    text-align: center;
    line-height: normal;
  }
  & .for_logo {
    width: 80%;
    max-width: 360px;
  }
}

.icon {
  width: 203px;
  max-width: 172px;
  height: 245px;
  max-height: 207px;
}

.vpliv {
  justify-content: space-around;
  height: 100%;
  width: 90%;
  & .block {
    text-align: center;
    width: 30%;
  }
  & .pred {
    font-family: 'RotondaC-Bold';
    text-align: center;
    padding: 0;
    margin: 30px 0;
  }
  & .block_row {
    justify-content: space-between;
  }
}

.emo {
  & li {
    display: flex;
    margin: 20px 0;
    &:before {
      content: '•';
      display: flex;
      color: #4f85f5;
      margin-right: 8px;
    }
  }
}

.roz {
  & li {
    display: flex;
    margin: 20px 0;
    &:before {
      content: '•';
      display: flex;
      color: #09e26d;
      margin-right: 8px;
    }
  }
}

.fiz {
  & li {
    display: flex;
    margin: 20px 0;
    &:before {
      content: '•';
      display: flex;
      color: #ffd800;
      margin-right: 8px;
    }
  }
}

.bl_text {
  width: 22vw;
  & h3 {
    margin-top: 0;
  }
  & p {
    font-size: 15px;
    line-height: 18px;
  }
}

.dbl_row {
  align-items: flex-end;
  & .block_row:nth-child(2) {
    margin-top: 20px;
  }
}

.ml1 {
  width: 213px;
  height: 174px;
}

.ml2 {
  width: 176px;
  height: 172px;
}

.romashka {
  width: 195px;
  height: 173px;
  margin-bottom: 10px;
}

.for_big_pack {
  justify-content: center;
}

.boys {
  width: 197px;
  max-width: 160px;
  height: 194px;
  max-height: 157px;
}

.glass {
  width: 108px;
  height: 111px;
}

.pack_4 {
  height: 55vh;
  max-height: 420px;
  width: auto;
}

.swiper-container {
  width: 100%;
  height: 100%;
  height: auto;
}

.swiper-container2 {
  display: flex;
  & .swiper-wrapper{
    & .swiper-slide{
      &:nth-child(3){
        display: none;
      }
    }
  }
}
.swiper-container3 {
  margin: 0 auto;
  position: relative;
  //overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  & .swiper-wrapper{
    align-items: center;
  }
}
.swiper-slide {
  background: transparent;
}

.swiper-button-next {
  display: none;
}

.swiper-button-prev {
  display: none;
}