extends ../_layout

block variables
    - var title = one.Pages.doubst.title
    - var author = one.Pages.doubst.author
    - var description = one.Pages.doubst.description
    - var keywords = one.Pages.doubst.keywords
    - var bodyClass = one.Pages.doubst.bodyClass

block content
    include ../common/doubleclick-stack.pug