extends ../_layout

block variables
    - var title = one.Pages.doubadm.title
    - var author = one.Pages.doubadm.author
    - var description = one.Pages.doubadm.description
    - var keywords = one.Pages.doubadm.keywords
    - var bodyClass = one.Pages.doubadm.bodyClass

block content
    include ../common/doubleclick-admixer