extends ../_layout

block variables
    - var title = one.Pages.thanks.title
    - var author = one.Pages.thanks.author
    - var description = one.Pages.thanks.description
    - var keywords = one.Pages.thanks.keywords
    - var bodyClass = one.Pages.thanks.bodyClass

block content
    include ../common/thankyou.pug